.main-nav {
  color: $color-default-white;
  background-color: $color-default-black;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__map {
    display: flex;
    flex-direction: row;
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
