.timer {
  background-color: #f3f3f3;

  &__container {
    display: flex;
  }

  &__title {
    color: $color-default-black;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding-top: 35px;
  }

  &__toggle {
    display: inline-flex;
    height: 70px;
    padding: 0 64px 0 74px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background-color: #00cabf;
    color: $color-default-white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 113px;
  }

  &__chat {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 8px solid #a1a1a1;
    width: 75px;
    height: 75px;
    padding: 16px 16px 15px 16px;
    background-color: $color-default-black;
    margin-top: 126px;
  }
}
