.timer {
  background-color: #f3f3f3;

  &__container {
    padding: 0 calc(50% - 600px - 10px) 0 calc(50% - 600px);
    display: flex;
  }

  &__title {
    color: $color-default-black;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__toggle {
    display: inline-flex;
    height: 70px;
    padding: 0 64px 0 74px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background-color: #00cabf;
    color: $color-default-white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__chat {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #000001;
    width: 56px;
    height: 56px;
    padding: 16px 16px 15px 16px;
    background-color: $color-default-black;
  }
}
